.menu-li {
  position: relative;
}

.menu-li:hover::after {
  width: 100%;
}

.menu-li::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 125ms;
}

.menu-li.active::after {
  width: 100%;
}
